src/
cp/
point/
solution/
residue
graphpart
execname
*.swp
*.mod
*.o
*.txt
examples/forward/src/*
examples/adjoint/src/*
examples/serial/src/*
examples/adjoint/runs/*
examples/forward/runs/*
examples/cuda/runs/*
examples/cuda/src/*
examples/cuda_adjoint/runs/*
examples/cuda_adjoint/src/*
